services:
  - type: cron
    name: website-monitor
    runtime: python3
    schedule: "*/30 * * * *"   # runs every 30 minutes
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python monitor_multi.py --once"
    envVars:
      MONITOR_URLS_FILE: "/opt/render/project/src/urls.txt"
      MONITOR_SMTP_HOST: "smtp.gmail.com"
      MONITOR_SMTP_PORT: "587"
      MONITOR_SMTP_USER: "howyoudoingkshitij@gmail.com"
      MONITOR_SMTP_PASS: "bjhihigwqkrcbyoj"
      MONITOR_EMAIL_FROM: "howyoudoingkshitij@gmail.com"
      MONITOR_EMAIL_TO: "howyoudoingkshitij@gmail.com"
      MONITOR_HTTP_TIMEOUT: "10"
      MONITOR_HTTP_RETRIES: "2"
      MONITOR_RETRY_DELAY: "2"
      MONITOR_CONCURRENCY: "10"
