services:
  - type: worker
    name: website-monitor
    runtime: python3
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python monitor_multi.py"
    envVars:
      - key: MONITOR_URLS_FILE
        value: "src/urls.txt"
      - key: MONITOR_SMTP_HOST
        value: "smtp.gmail.com"
      - key: MONITOR_SMTP_PORT
        value: "587"
      - key: MONITOR_SMTP_USER
        value: "howyoudoingkshitij@gmail.com"
      - key: MONITOR_SMTP_PASS
        sync: false
      - key: MONITOR_EMAIL_FROM
        value: "howyoudoingkshitij@gmail.com"
      - key: MONITOR_EMAIL_TO
        value: "howyoudoingkshitij@gmail.com"
